    @tailwind base;
    @tailwind components;
    @tailwind utilities;
  

.about-container {
    max-width: 800px;
    margin: auto;
    color: white;
    background-color: #1e1e1f;
    padding: 20px;
    border-radius: 8px;
}

.aboutheader, .skillsheader {
    color: #ffbf00;
    margin-bottom: 10px;

}

.aboutinfo {
    margin-bottom: 20px;
}

.tabs button {
    background: none;
    border: none;
    color: rgb(108, 108, 108);
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.tabs button.active {
    border-bottom: 2px solid #ffbf00;
    color: #fcfcfc;
}

.tabs button:hover {
    color: #ffbf00;
}

.skill {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ffbf00; 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .skill:hover {
    background-color: #96854f; 
  }
  
  .skill-image {
    width: 32px;
    height: 32px; 
    margin-right: 10px;
  }
  
  .skill-text {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .skill-level {
    font-size: 0.8em; 
    color: #ffffff; 
  }
  
