
@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave {
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

.typewriter {
  display: inline-block;
  position: relative;

}

.typewriter::after {
  content: '|';
  position: absolute;
  right: -4px; 
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
body {
  background: #111; 
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #111; 
  color: white;
  font-family: 'Your font', sans-serif; 
}



.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .main-content {
      flex-direction: row;
      gap: 2rem;
  }
}

.text-content {
  text-align: center;
}

.intro-text {
  color: #F1C40F;
  margin: 0%; 
}

.main-heading {
  font-size: 3rem;
  font-weight: bold;
  padding: 0;
  margin: 0%;
}

.sub-heading {
  margin: 0;
  font-size: 2rem;
  background: linear-gradient(to right, #f9f9f9, #F1C40F); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.welcome-message {
  font-size: 1.2rem;
}

.profile-image {
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  border: 4px solid #F1C40F; 
  box-shadow: #F1C40F;
  
}

/* NAVBAR

*/
.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: transparent; /* Assuming a transparent background */
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 2rem; /* Adjust the gap to match the spacing in your design */
}

.nav-link {
  color: white; /* Or the color in your design */
  font-weight: bolder;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.nav-link.active {
  text-decoration: underline;
}

.nav-link:hover {
  color: #F1C40F; /* Hover effect */
}

.githubimg {
  width: 40px;
  height: 40px;
  border-radius: 70%;
  cursor: pointer;
}